.message-group:not(.compact) .avatar-large[style*="ID"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="ID"] ~ .member-inner .member-username .member-username-inner::after{content:"TAG";background:color;color:#fff;border-radius:3px;border: 1px solid transparent;margin-left:6px;font-size:10px;font-weight:600;padding:1px 4px;text-transform:uppercase;vertical-align:bottom;line-height:16px;-webkit-flex-shrink:0;flex-shrink:0;text-shadow: 0px 1px 3px #000;}


.message-group:not(.compact) .avatar-large[style*="293540827207041027"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="293540827207041027"] ~ .member-inner .member-username .member-username-inner::after{content:"Bandolero";background:transparent;color:#00fff0;border-radius:3px;border: 1px solid transparent;margin-left:6px;font-size:10px;font-weight:600;padding:1px 4px;text-transform:uppercase;vertical-align:bottom;line-height:16px;-webkit-flex-shrink:0;flex-shrink:0;text-shadow: 0px 1px 3px #000;}

.message-group:not(.compact) .avatar-large[style*="311318305564655637"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="311318305564655637"] ~ .member-inner .member-username .member-username-inner::after{content:"Creeper 🔫";background:#191919;color:#25bfc3;border-radius:3px;border: 1px solid transparent;margin-left:6px;font-size:10px;font-weight:600;padding:1px 4px;text-transform:uppercase;vertical-align:bottom;line-height:16px;-webkit-flex-shrink:0;flex-shrink:0;text-shadow: 0px 1px 3px #000;}

@keyframes hue-rotate{from{-webkit-filter:hue-rotate();}to{-webkit-filter:hue-rotate(360deg);}}

/* Pout's Tag Animation */

.message-group:not(.compact) .avatar-large[style*="133021513241591808"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="133021513241591808"] ~ .member-inner .member-username .member-username-inner::after {
    content:"";
    background-image: url(https://i.imgur.com/c8y7JO8.gif);
    color:#000;
    border-radius:0px;
    margin-left:6px;
    font-size:10px;
    font-weight:998;
    padding:4px 31px;
    text-transform:uppercase;
    vertical-align:bottom;
    line-height:16px;
    -webkit-flex-shrink:0;
    flex-shrink:0;
    text-shadow: 0px 1px 2px #000;
}

/*cube_guy's Triforce Tag*/
.message-group:not(.compact) .avatar-large[style*="PLACEHOLDER"] ~ .comment .message h2 span.username-wrapper::before{
    content: "`";
    background-image: url(https://rawgit.com/cubeguy/cube_repo/master/icons/Discord_Tag.gif);
    background-size: 25px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 0px;
    left: -3px;
    padding: 0px 10px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px !important;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
    margin-left: -28px;
}
.message-group .avatar-large[style*="PLACEHOLDER"]{
    box-shadow: 0px 0px 0px 0px !important;
}
.message-group:not(.compact) .avatar-large[style*="PLACERHOLDER"] ~ .comment .message h2 .timestamp {
    margin-left: 4px;
}
.chat .avatar-large[style*="131903461771051009"] ~ .comment .message h2 {
    transform: translateX(30px);
}
